@using TerroscapeApp.Service
@model TerroscapeApp.Database.Survivor

@{
    ViewData["Title"] = "Добавление нового выжившего";
}

<h1>Добавление нового выжившего</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PlayerId" class="control-label">Игрок:</label>
                <select asp-for="PlayerId" class ="form-control" asp-items="ViewBag.Players"></select>
            </div>
            <div class="form-group">
                <label asp-for="AvatarId" class="control-label">Жертва:</label>
                <select asp-for="AvatarId" class ="form-control" asp-items="ViewBag.Avatars"></select>
            </div>
            <div class="form-group" style="padding-top: 10px">
                <label asp-for="State" class="control-label">Состояние жертвы:</label>
                @Html.DropDownListFor(e => e.State, new SelectList(EnumsTranslation.SurvivorStateTranslation, "Key", "Value"))
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group" style="padding-top: 10px">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку выживших</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
